body {
  background-color: #ffffff;
}

.wrapper {
  background: #ffffff;
  width: 92%;
  max-width: 1200px;
  margin: 0 auto;
}


@media all and (min-width: 900px) {
  article, aside {
    float: left;

}
